{% extends 'base.html' %}
{% block content %}
    <section class="feedback">
        <div class="container">
            <div class="row">
                <div class="col col-lg-4 offset-lg-4 mb-3">
                    <h2>Leave you feedback</h2>
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <label>{{ field.label }}</label>
                            <input type="{{ field.field.widget.input_type }}"
                                   name="{{ field.name }}"
                                   id="{{ field.auto_id }}"
                                   value="{% if field.initial %}{{ field.initial }}{% endif %}"
                                   class="form-control">
                            {% if field.help_text %}<div class="form-text">{{ field.help_text }}</div>{% endif %}
                            {% if field.errors %}
                                <div class="mb-2">
                                    <ul>
                                        {% for error in field.errors %}<li class="text-danger small">{{ error }}</li>{% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% if form.non_field_errors %}
                            <div class="mb-2">
                                <ul>
                                    {% for error in form.non_field_errors %}<li class="text-danger small">{{ error }}</li>{% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <input class="btn btn-primary mt-3" type="submit" value="Submit">
                    </form>
                </div>
                <div class="d-none d-lg-block col-lg-4"></div>
                {% for feedback in feedbacks %}
                    <div class="col-12 col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    {{ feedback.rating }}
                                    <span class="visually-hidden">unread messages</span>
                                </span>
                                {{ feedback.text }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}
{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Feedbacks</h1>

{% for item in feedbacks %}
    <p>
        <span>Text: {{ item.text }}</span>
        <span>User: {{ item.user }}</span>
        <span>Rating: {{ item.rating }}</span>
    </p>
{% endfor %}
<div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <label>{{ field.label }}</label>
            {{ field }}
        {% endfor %}
        <input type="submit" value="Create feedback">
    </form>
</div>
</body>
</html> {% endcomment %}