{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Your cart</span>
          <span class="badge bg-primary rounded-pill">{{ cart|length }}</span>
        </h4>
        <ul class="list-group mb-3">
          {% for item in cart %}
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0">{{ item.quantity }} x {{ item.product.name }}</h6>
              </div>
              <span class="text-muted">{{ item.total_price }} UAH</span>
            </li>
          {% endfor %}
          <li class="list-group-item d-flex justify-content-between">
            <span>Total:</span>
            <strong>{{ cart.get_total_price }} UAH</strong>
          </li>
        </ul>
      </div>
      <div class="col-md-7 col-lg-8">
        <form method="post" class="order-form">
          {{ form.as_p }}
          <p>
            <input class="btn btn-primary mt-3" type="submit" value="Create order">
          </p>
          {% csrf_token %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
