{% extends "base.html" %}
{% load static %}
{% block content %}
  <section>
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for product in favorite_products %}
          <div class="col {% if product.products.exists %}col-lg-6{% else %}col-lg-3{% endif %}">
            <div class="card h-100">
              <a href="{% url 'product_detail' product.id %}">
                <img src="{{ product.image.url }}"
                     class="card-img-top"
                     alt="{{ product.name }}"
                     style="max-height: 150px; object-fit: contain">
              </a>
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="small">{{ product.category.name }}</p>
                <p class="card-text">{{ product.description|truncatewords:16 }}</p>
                {% if product.products.exists %}
                        <p>Including:</p>
                        {% for sub in product.products.iterator %}
                            <div class="d-inline-flex flex-column rounded border p-2">
                                <p>{{ sub.name }}</p>
                                <figure class="text-center d-inline">
                                    <img src="{{ sub.image.url }}"
                                         class="product-image p-3"
                                         alt="{{ product.name }}">
                                </figure>
                            </div>
                        {% endfor %}
                    {% endif %}
                <div class="text-left">
                  <div class="h4">{{ product.get_price }} UAH</div>
                </div>
              </div>
              <div class="card-footer">
                <div class="text-center">
                  <form action="{% url 'cart_add' product.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input type="submit" value="Add to cart">
                  </form>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock content %}
